body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#display {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: right;
    border: 1px solid grey;
    border-radius: 5px;
}


.buttons button {
    width: 20%;
    padding: 15px;
    margin: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: rgb(46, 44, 48);
    color: white;
    border-radius: 5px;
}

.buttons button:hover {
    background: rgb(70, 67, 72);   
}

#res {
    background-color: rgb(196, 114, 193);
}

#res:hover {
    background-color: rgb(170, 95, 168);
}

#rounding, #absolute {
    text-align: left;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    background-color:  #f2ecec;
    font-weight: 600;
}

label {
    font-weight: 600;
}


